* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all ease .5s;
}

body,
html {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

.card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    background-color: #f5f5f5;


    div.img {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-image: url(./assets/images/tata-IPL-img.png);
        background-position: center;
        background-size: cover;
    }

    h2 {
        padding-top: .3rem;
        color: #333;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        width: 90%;
    }

    h3 {
        padding-top: .5rem;
        text-align: center;
        color: #777;
        font-size: 1.2rem;
    }

    button {
        margin-top: 1.8rem;
        width: fit-content;
        padding: 1rem 1rem;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 1rem;
        background-color: black;
        color: white;
        border: none;
        transition: all ease .5s;
    }

    button:hover {
        cursor: pointer;
        background-color: #363333;
    }

    button:active {
        transform: scale(1.15);
    }
}

@media (max-width: 600px) {
   .card {
    position: relative;
    button {
      position: absolute;
      top: 50%;
    }
   }
}